@media (max-width:660px) {
  header.container { justify-content: center; }

  header.container .logo-icon { display: none; }

  header.container .buttons { 
    margin: 0;
    flex: 1;
   }

  header.container .buttons button { 
    flex: 1;
    font-size: 1.1rem;
    padding: 20px 10px;
   }

  header.container .buttons button.about { border-left: none; }

  .main {
    section.about {
      .about-wrapper {
        padding: 20px;

        .top {
          .about-title {
            margin-bottom: 15px;
          }

          .text {
            font-size: calc(.8rem + 1vw);
          }
        }
      }
    }

    section.projects {
      .projects-wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .projects-title {
          margin-bottom: 15px;
        }

        div.project-wrapper {
          margin: 0px;
          width: 380px;
          height: 380px;

          img.project-photo {
            width: 100%;
            height: auto;
            transition: 0s;
          }

          .project-info {
            margin: 0px;
            padding: 25px;
            width: calc(100% - 50px);
            transition: 0s;

            &:hover {
              box-shadow: none;
              border-radius: 0px;
            }

            .title {
              margin-bottom: 15px;
              font-size: 1.5rem;
            }

            .text {
              p {
                font-size: .9rem;
              }
            }

            .tools-used {
              p {
                font-size: .8rem;
              }
            }

            .actions {
              justify-content: center;

              .links { display: none; }

              a {
                font-size: .8rem;
                padding: 15px;
              }
            }
          }

        }
      }
    }
  }

  section.contact {
    .contact-wrapper {
      flex-direction: column;

      h1.contact-title {
        margin-right: 0;
        margin-top: 0;
      }
    }

  }
}
