@media (max-width: 1050px) {
  .main {
    section.projects {
      .projects-wrapper {
        .project-wrapper {
          flex-direction: column;
    
          .project-photo {
            &:hover {
              margin: 40px;
              width: 370px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  header.container {
    h1.header { display: none; }
  }
}