@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'FiraCode';
  src: url('../fonts/FiraCode-Regular.ttf');
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2537;
  background-image: url('../images/mooning.png');
  margin: 0;
  box-shadow: 0px -3px 20px 10px black,
              inset 0px 30px 30px rgb(0, 0, 0, .3);

  p {
    font-size: 1rem;
    color: rgb(255, 221, 53);
  }
}