@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'FiraCode';
  src: url('../fonts/FiraCode-Regular.ttf');
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  &.container {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #504B43;
    box-shadow: 0px 3px 20px 10px black;

    .logo-icon {
      margin: 10px 40px;
      padding: 10px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url('../icons/hedgehog-logo.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: #{"invert()"};
      transition-property: filter;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;

      &:hover { filter: none; }

      &:active {
        transition: filter 0s;
        filter: #{"invert()"};
      }
    }

    .buttons {
      margin: 0 20px;
      display: flex;
      align-items: stretch;

      button {
        font-family: 'FiraCode';
        padding: 20px;
        font-size: 1.2rem;
        font-weight: 700;
        background-color: transparent;
        border: none;
        border-left: 1px solid white;
        cursor: pointer;
        color: white;
        transition-property: background-color, color;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        &:hover {
          background-color: white;
          color: black;
        }

        &:active {
          transition-duration: 0.1s;
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}

.main {
  flex: 1;

  section {
    &.banner {
      display: flex;
      
      img {
        width: 100%;
        height: auto;
        box-shadow: 0px 3px 20px 10px black;
      } 
    }
  }

  section {
    &.about {
      background-color: #6F8F72;
      display: flex;
      flex-direction: column;
      width: 100%;
      
      .about-wrapper {
        padding: 50px;
        box-shadow: 0px 3px 20px 10px black;

        .top {
          .about-title {
            color: white;
            font-family: 'FiraCode';
            font-size: 2rem;
            margin-bottom: 25px;
          }
  
          .text {
            text-align: justify;
            font-size: 1.2rem;
            color: white;
            font-style: italic;
          }
        }
  
        .bottom {
          width: 100%;
          margin-top: 50px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;

          button.navigate {
            width: 50px;
            height: 50px;
            padding: 0;
            border: none;
            background-color: transparent;
            filter: #{"invert()"};
            cursor: pointer;
            transition-property: filter;
            transition-duration: 0.5s;

            &:hover {
              filter: none;
            }

            &:active {
              transition-duration: 0s;
              filter: #{"invert()"};
            }
          }

          .skills-carousel {
            overflow: hidden;

            .container {
              display: flex;
              gap: 15px;
    
              button {
                &.skill {
                  margin: 8px;
                  min-width: 100px;
                  height: 100px;
                  padding: 5px;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  background-color: transparent;
                  border: 1px solid white;
                  border-radius: 3px;
                  transition-property: filter, min-width, height, margin;
                  transition-duration: 0.5s;
    
                  img {
                    width: 70px;
                    height: auto;
                    filter: #{"invert()"};
                  }

                  p {
                    font-family: 'FiraCode';
                    font-size: .65rem;
                    color: white;
                    padding: 0;
                    margin: 0;
                  }

                  &:hover {
                    filter: #{"invert()"};
                    min-width: 116px;
                    height: 116px;
                    margin: 0;

                    p {
                      font-weight: 700;
                      font-size: 0.7rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section {
    &.projects {
      background-color: #504B43;
      display: flex;
      flex-direction: column;
      width: 100%;

      .projects-wrapper {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .projects-title {
          color: white;
          font-family: 'FiraCode';
          font-size: 2rem;
          margin-bottom: 25px;
        }

        .project-wrapper {
          background-color: #77ad78;
          display: flex;
          align-items: center;
          margin: 25px;
          box-shadow: 0px 5px 12px 5px hwb(0 0% 100% / 0.342);

          .project-photo {
            margin: 40px;
            width: 370px;
            height: auto;
            transition-property: width, margin, box-shadow, border-radius;
            transition-duration: 0.35s;
            
            &:hover {
              width: 400px;
              margin: 25px;
              box-shadow: 0px 5px 12px 5px hwb(0 0% 100% / 0.342);
              border-radius: 20px;
            }
          }

          .project-info {
            margin: 40px;
            background-color: #6F8F72;
            padding: 25px;
            transition-property: box-shadow, border-radius;
            transition-duration: 0.35s;
            
            &:hover {
              box-shadow: 0px 5px 12px 5px hwb(0 0% 100% / 0.342);
              border-radius: 20px;
            }

            .title {
              padding-left: 10px;
              color: white;
              font-family: 'FiraCode';
              font-size: 1.8rem;
              margin-bottom: 25px;
            }

            .text {
              p {
                text-align: justify;
                font-size: 1.2rem;
                color: white;
              }
            }

            .tools-used {
              border-top: 1px solid white;

              p {
                text-align: justify;
                font-size: 1.2rem;
                font-style: italic;
                color: white;
              }
            }

            .actions {
              display: flex;
              justify-content: end;
              align-items: center;
              gap: 10px;

              .links {
                color: white;
                font-family: 'FiraCode';
                font-size: 1.5rem;
              }

              a {
                font-family: 'FiraCode';
                padding: 20px;
                font-size: 1.2rem;
                font-weight: 700;
                background-color: #504B43;
                border: none;
                cursor: pointer;
                color: white;
                transition-property: background-color, color;
                transition-duration: 0.5s;
                transition-timing-function: ease-in-out;
                text-decoration: none;

                &:hover {
                  background-color: white;
                  color: black;
                }
        
                &:active {
                  transition-duration: 0.1s;
                  background-color: #504B43;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.contact {
  .contact-wrapper {
    background-color: #6F8F72;
    padding: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-shadow: 0px -3px 20px 10px black;

    h1.contact-title {
      color: white;
      font-family: 'FiraCode';
      font-size: 2rem;
      margin-bottom: 25px;
      margin-right: 50px;
    }


    a {
      margin: 8px;
      min-width: 100px;
      height: 100px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 3px;
      transition-property: filter, min-width, height, margin;
      transition-duration: 0.5s;
      text-decoration: none;

      img {
        width: 70px;
        height: auto;
        filter: #{"invert()"};
      }

      p {
        font-family: 'FiraCode';
        font-size: .65rem;
        color: white;
        padding: 0;
        margin: 0;
      }

      &:hover {
        filter: #{"invert()"};
        min-width: 116px;
        height: 116px;
        margin: 0;

        p {
          font-weight: 700;
          font-size: 0.7rem;
        }
      }
    }
  }
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #504B43;
  margin: 0;
  box-shadow: 0px -3px 20px 10px black;

  p {
    font-size: 1rem;
    color: white;
  }
}